@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model TaskTemplate

<head>
    <a href="~/lib/bootstrap/dist/css/bootstrap-reboot.css.map">~/lib/bootstrap/dist/css/bootstrap-reboot.css.map</a>
    <a href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map">~/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map</a>
    <a href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map">~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map</a>
    <a href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map">~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map</a>
  @*  <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    *@
</head>

<h1 class="mb-3">Add a Task</h1>

<form method="post" class="needs-validation" novalidate>
    <input type="hidden" asp-for="TaskId" />

    <div class="form-group">
        <label asp-for="TaskName">Task:</label>
        <input asp-for="TaskName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DueDate">Due Date:</label>
        <input asp-for="DueDate" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Quadrant">Quadrant:</label>
        <select asp-for="Quadrant" id="Quadrant" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Category">Category:</label>
        <select asp-for="Category" id="Category" class="form-control">
            <option value="Home">Home</option>
            <option value="School">School</option>
            <option value="Work">Work</option>
            <option value="Church">Church</option>
        </select>
    </div>

    <div class="form-group">
        <input type="checkbox" id="Completed" name="Completed" value="True" checked="true">
        <label for="Completed"> Completed?</label><br>
    </div>

    <button type="submit" class="btn btn-primary">Add Task</button>

    <div asp-validation-summary="All" class="text-danger"></div>
</form>